body {
  background-color: rgb(0, 158, 145);
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  margin: 15px;
  font-size: 24px;
}

button{
	border: 3px solid black;
	border-radius: 12px;
	font-size: 24px;
	margin: 15px;
	padding: 5px;
}

input{
    width:375px;
    padding:2px;
    box-sizing: border-box;
    font-size: 20px;
}

#container{
	width: 1300px;

}

#resposta{
	 width: 400px;
}
.titulo{
	background-color: rgb(83, 255, 169);
	color: black;
	font-size: 36px;
}


.texto{
	margin: 15px;
}

